/* Start Global Rules */
:root {
  --main-color: blue;
  --secondary-color: white;
  --third-color: black;
  --main-transition: 0.5s;
  --section-padding: 100px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--third-color);
  font-family: "Sansita", serif;
  font-weight: 700;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  width: fit-content;
  margin: auto;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 35px;
  position: relative;
  margin-bottom: 100px;
}
.main-title:hover {
  animation: bouncing 1.5s infinite;
}
.main-title::before {
  content: "";
  width: 105px;
  height: 1px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.main-title::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}
.main-button {
  display: block;
  background-color: var(--main-color);
  color: var(--third-color);
  font-size: 23px;
  font-weight: 200;
  text-transform: uppercase;
  width: fit-content;
  padding: 10px 65px 20px 35px;
  border-radius: 40px;
  position: relative;
  transition: var(--main-transition);
}
.main-button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--third-color);
  border-radius: 40px;
  position: absolute;
  top: 6px;
  left: 7px;
  z-index: -1;
  transition: 0.3s;
}
.main-button:hover {
  padding-right: 90px;
}
.main-button:hover::before {
  background-color: var(--secondary-color);
  top: 8px;
  left: 9px;
}
.main-button i {
  position: absolute;
  left: 178px;
  top: 25%;
  transition: var(--main-transition);
}
.main-button:hover i {
  color: var(--secondary-color);
}
.main-button:hover i.one {
  animation: go 0.8s alternate linear infinite;
}
.main-button:hover i.two {
  left: 187px;
  animation: go 0.8s alternate 0.4s linear infinite;
}
.main-button:hover i.three {
  left: 196px;
  animation: go 0.8s alternate 0.8s linear infinite;
}
@media (max-width: 991px) {
  .main-button {
    padding: 8px 55px 15px 25px;
  }
  .main-button i {
    left: 160px;
  }
  .main-button:hover i.two {
    left: 169px;
  }
  .main-button:hover i.three {
    left: 178px;
  }
}
@media (max-width: 767px) {
  .main-button {
    margin: 20px auto !important;
  }
}
.second-button {
  display: block;
  background-color: var(--secondary-color);
  width: fit-content;
  border-radius: 30px;
  border: 2px solid var(--main-color);
  width: 170px;
  height: 60px;
  transition: var(--main-transition);
  text-transform: uppercase;
  transform: scale(0.9);
  position: relative;
  overflow: hidden;
}
.second-button:hover {
  background-color: var(--main-color);
  border-radius: 10px;
  transform: scale(1);
}
.second-button::before {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.3s;
  color: var(--third-color);
}
.second-button::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.3s;
  color: var(--main-color);
}
.second-button:hover::after {
  right: -18px;
}
.second-button:hover::before {
  left: 25px;
}
.second-button span {
  font-size: 17px;
  color: var(--main-color);
  position: absolute;
  left: 30px;
  top: 16px;
  transition: 0.3s;
}
.second-button:hover span {
  left: 60px;
  color: var(--secondary-color);
}
/* End Global Rules */
/* Start header */
header {
  box-shadow: 0 0 20px var(--main-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 991px) {
  header .container {
    flex-direction: column;
  }
}
header .logo {
  transition: 1s;
}
header .logo img {
  height: 55px;
  display: flex;
}
header .logo:hover {
  transform: rotate(360deg);
}
@media (max-width: 991px) {
  header .logo img {
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  header .logo img {
    height: 45px;
  }
}
header .nav {
  display: flex;
}
header .nav > li:hover .menu {
  top: calc(100% + 2px);
  opacity: 1;
  z-index: 1;
}
header .nav > li > a {
  display: block;
  padding: 25px;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--secondary-color);
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 991px) {
  header .nav > li > a {
    padding: 15px 20px;
  }
  header .nav > li > a::before {
    display: none;
  }
  header .logo:hover {
    transform: rotate(0);
  }
}
@media (max-width: 767px) {
  header .nav > li > a {
    padding: 15px 8px;
    font-size: 13px;
  }
}
header .nav > li > a:hover {
  color: var(--main-color);
}
header .nav > li > a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  left: -100%;
  top: 0px;
  transition: var(--main-transition);
}
header .nav > li > a:hover::before {
  left: 0;
}
/* Start Menu */
.menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(100% + 60px);
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: black;
  border-radius: 80px;
  box-shadow: 0 0 10px var(--main-color);
  padding: 15px 40px;
  opacity: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.menu .image {
  width: 250px;
  transition: 1s;
}
@media (max-width: 991px) {
  .menu .image {
    display: none;
  }
}
.menu .image:hover {
  transform: rotate(360deg);
}
.menu .image img {
  max-width: 100%;
}
.menu ul {
  min-width: 280px;
  flex: 1;
}
.menu ul li:not(:last-child) {
  border-bottom: 1px solid #ffffffcd;
}
.menu ul a {
  width: fit-content;
  display: block;
  padding: 20px 25px;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--secondary-color);
  transition: var(--main-transition);
}
.menu ul li a:hover {
  color: var(--main-color);
  padding-left: 10px;
}
@media (max-width: 767px) {
  .menu {
    flex-direction: column;
    gap: 0;
    width: 95%;
    margin-left: 2.5%;
    padding: 8px 40px;
  }
  .menu ul {
    min-width: 270px;
  }
  .menu ul:first-of-type {
    border-bottom: 1px solid #ffffffcd;
  }
  .menu ul a {
    padding: 20px 25px;
    font-size: 13px;
    margin: auto;
  }
}
/* End Menu */
/* End header */
/* Start Landing */
.landing {
  height: 100vh;
}
.landing video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  object-fit: cover;
  z-index: -1;
}
.landing .intro {
  position: absolute;
  top: calc(50% + 30px);
  left: 8%;
  transform: translateY(-50%);
  color: var(--secondary-color);
}
.landing .intro h1 {
  font-size: 80px;
  margin: 20px 0;
  text-transform: uppercase;
}
.landing .intro p {
  font-size: 35px;
  border-top: 2px solid var(--main-color);
  padding: 10px 0 30px;
  font-weight: normal;
}
@media (max-width: 991px) {
  .landing .intro h1 {
    font-size: 60px;
    margin: 15px 0;
  }
  .landing .intro p {
    font-size: 25px;
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  .landing .intro .main-button.land {
    margin: 0 !important;
  }
}
.landing .go-down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
}
.landing .go-down .down {
  font-size: 25px;
  animation: bouncing 1.5s infinite;
}
.landing .go-down:hover .down {
  animation-play-state: paused;
  color: var(--secondary-color);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: 115px;
  padding-bottom: 115px;
}
.services p {
  text-align: center;
  color: var(--secondary-color);
  line-height: 1.7;
  font-size: 25px;
  text-transform: uppercase;
  word-spacing: 6px;
}
.services .button-srv {
  margin-top: 30px;
  margin-left: 50px;
}
/* End Services */
/* Start About & Neue Klasse & Electric  */
.about,
.electric,
.neue-klasse {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .contant,
.electric .contant,
.neue-klasse .contant {
  display: flex;
  align-items: center;
  gap: 170px;
}
@media (max-width: 991px) {
  .about .contant,
  .neue-klasse .contant {
    text-align: center;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .electric .contant {
    text-align: center;
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.about .contant p,
.electric .contant p,
.neue-klasse .contant p {
  color: var(--secondary-color);
  line-height: 1.9;
  font-size: 20px;
  text-transform: uppercase;
  word-spacing: 5px;
}
.about .contant .video,
.electric .contant .video,
.neue-klasse .contant .video {
  position: relative;
  min-width: 250px;
  height: 380px;
}
.about .contant .video::before,
.neue-klasse .contant .video::before {
  content: "";
  width: 90px;
  height: 440px;
  background-color: var(--main-color);
  position: absolute;
  left: -20px;
  top: -30px;
  z-index: -1;
}
.about .contant .video::after,
.neue-klasse .contant .video::after {
  content: "";
  width: 80px;
  height: 280px;
  position: absolute;
  right: -110px;
  top: -35px;
  z-index: -1;
  border-left: 80px solid var(--secondary-color);
  border-bottom: 80px solid var(--secondary-color);
}
.electric .contant .video::after {
  content: "";
  width: 90px;
  height: 440px;
  background-color: var(--main-color);
  position: absolute;
  right: -20px;
  top: -30px;
  z-index: -1;
}
.electric .contant .video::before {
  content: "";
  width: 80px;
  height: 280px;
  position: absolute;
  left: -110px;
  top: -35px;
  z-index: -1;
  border-right: 80px solid var(--secondary-color);
  border-bottom: 80px solid var(--secondary-color);
}
@media (min-width: 768px) {
  .about .contant .video,
  .electric .contant .video,
  .neue-klasse .contant .video {
    margin: auto;
    width: 500px;
  }
}
@media (max-width: 991px) {
  .about .contant .video::before,
  .about .contant .video::after,
  .electric .contant .video::before,
  .electric .contant .video::after,
  .neue-klasse .contant .video::before,
  .neue-klasse .contant .video::after {
    display: none;
  }
  .about .contant .video,
  .electric .contant .video,
  .neue-klasse .contant .video {
    box-shadow: 0 0 50px var(--main-color);
  }
}
.about .contant .video video,
.electric .contant .video video,
.neue-klasse .contant .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .main-button.abu,
.neue-klasse .main-button.neue {
  margin-top: 45px;
  margin-left: 10px;
}
.electric .main-button.elc {
  margin-top: -30px;
  margin-left: 10px;
}
@media (max-width: 1199px) {
  .about .main-button.abu,
  .electric .main-button.elc {
    margin-top: 5px;
  }
}
@media (max-width: 991px) {
  .about .main-button.abu,
  .electric .main-button.elc,
  .neue-klasse .main-button.neue {
    margin-top: 30px;
    margin-left: 50px;
  }
}
/* End About & Neue Klasse & Electric */
/* Start Models */
.models {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.models .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.models .box {
  background-color: var(--secondary-color);
  color: var(--third-color);
  text-align: center;
  border-radius: 100px;
  transition: var(--main-transition);
}
.models .box:hover {
  transform: translateY(-15px);
}
.models .box .image {
  width: 300px;
  margin: auto;
}
@media (max-width: 991px) {
  .models .box .image {
    width: 290px;
  }
}
.models .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
}
.models .box:hover img {
  transform: scale(1.1);
}
.models .box h3 {
  margin: 30px 0 10px;
  font-size: 21px;
  color: var(--third-color);
}
.models .box p {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: normal;
  color: var(--third-color);
}
.models .box .second-button {
  margin: 20px auto 45px;
}
/* End Models */
/* Start Other */
.other {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.other .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
@media (max-width: 991px) {
  .other .container {
    row-gap: 60px;
  }
}
.other .col {
  display: flex;
  gap: 30px;
}
@media (max-width: 991px) {
  .other .col {
    flex-direction: column;
    text-align: center;
  }
  .other .col img,
  .other .col .info,
  .other .col .info .second-button {
    margin: auto;
  }
}
.other .col img {
  width: 60px;
  height: 60px;
}
.other .col .info {
  max-width: 300px;
}
.other .col .info h3 {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 25px;
}
.other .col .info p {
  color: var(--secondary-color);
  font-size: 17px;
  line-height: 1.5;
  margin: 20px 0 25px;
}
/* End Other */
/* Start Capabilities */
.capabilities {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.capabilities .container {
  display: flex;
  gap: 100px;
}
@media (max-width: 1199px) {
  .capabilities .container {
    gap: 80px;
  }
}
@media (max-width: 991px) {
  .capabilities .container {
    flex-direction: column;
    gap: 0;
  }
}
.capabilities .section {
  flex: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .capabilities .section {
    width: 500px;
    margin: auto;
  }
}
.capabilities .section .prog-holder {
  margin-bottom: 45px;
}
.capabilities .section .prog-holder h4 {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 25px;
}
.capabilities .section .prog-holder .prog {
  background-color: var(--secondary-color);
  width: 100%;
  height: 30px;
  margin-top: 18px;
  border-radius: 2px;
}
.capabilities .section .prog-holder .prog span {
  background-color: var(--main-color);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 100%;
  display: block;
  position: relative;
}
.capabilities .section .prog-holder .prog span::after {
  content: attr(data-progress);
  position: absolute;
  right: -15px;
  top: -25px;
  color: var(--secondary-color);
  font-size: 14px;
}
/* End Capabilities */
/* Start Customer opinion */
.customer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.customer .container {
  display: flex;
  gap: 100px;
}
@media (max-width: 1199px) {
  .customer .container {
    gap: 69px;
  }
}
@media (max-width: 991px) {
  .customer .container {
    flex-direction: column;
    gap: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .customer .section {
    width: 600px;
    margin: auto;
  }
}
.customer .section .opinion {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .customer .section .opinion {
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }
}
.customer .section .opinion img {
  width: 80px;
  height: 35px;
}
.customer .section .opinion .text {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 10px;
}
.customer .section .opinion .text p {
  color: var(--secondary-color);
  font-size: 16px;
  transition: var(--main-transition);
  line-height: 1.5;
}
.customer .section .opinion .text p:hover {
  transform: scale(1.1);
}
.customer .section .opinion .text span {
  display: block;
  color: var(--main-color);
  margin-top: 15px;
  text-align: right;
  font-size: 13px;
  text-transform: uppercase;
}
.customer .section .bullet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.customer .section .bullet li {
  width: 12px;
  height: 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
}
.customer .section .bullet li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
  margin: 0 5px;
}
/* End Customer opinion */
/* Start States */
.states {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: rgba(0, 0, 255, 0.658);
}
.states .container {
  display: flex;
  justify-content: space-around;
}
.states .state {
  text-align: center;
}
@media (max-width: 767px) {
  .states .container {
    flex-direction: column;
    gap: 80px;
  }
}
.states .state img {
  width: 60px;
}
.states .state h2 {
  color: var(--secondary-color);
  margin: 25px 0;
  font-size: 40px;
  font-weight: 900;
}
.states .state p {
  color: var(--third-color);
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .states .state img {
    width: 50px;
  }
  .states .state h2 {
    font-size: 30px;
  }
  .states .state p {
    font-size: 19px;
  }
}
/* End States */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .container {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
.contact form {
  flex-basis: 70%;
}
.contact form .input {
  display: block;
  width: 100%;
  padding: 18px 20px;
  margin-bottom: 25px;
  border-radius: 40px;
  caret-color: var(--main-color);
  outline: none;
  border: 3px solid var(--secondary-color);
}
@media (max-width: 767px) {
  .contact form .input {
    padding: 18px;
  }
}
.contact form .input:focus {
  border: 3px solid var(--main-color);
}
.contact form .input::placeholder {
  color: var(--third-color);
}
.contact form textarea {
  height: 250px;
}
.contact form button {
  display: block;
  background-color: var(--main-color);
  color: var(--third-color);
  font-size: 23px;
  font-weight: 200;
  text-transform: uppercase;
  width: fit-content;
  padding: 10px 50px 20px 27px;
  margin-left: 10px;
  border-radius: 40px;
  position: relative;
  transition: var(--main-transition);
  border: none;
}
@media (max-width: 767px) {
  .contact form button {
    margin: auto;
    font-size: 20px;
  }
}
.contact form button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--third-color);
  border-radius: 40px;
  position: absolute;
  top: 6px;
  left: 7px;
  z-index: -1;
  transition: 0.3s;
}
.contact form button:hover {
  padding-right: 70px;
}
.contact form button:hover::before {
  background-color: var(--secondary-color);
  top: 8px;
  left: 9px;
}
.contact form button i {
  position: absolute;
  left: 180px;
  top: 25%;
  transition: var(--main-transition);
}
.contact form button:hover i {
  color: var(--secondary-color);
}
.contact form button:hover i.one {
  animation: go 0.8s alternate linear infinite;
}
.contact form button:hover i.two {
  left: 189px;
  animation: go 0.8s alternate 0.4s linear infinite;
}
.contact form button:hover i.three {
  left: 198px;
  animation: go 0.8s alternate 0.8s linear infinite;
}
@media (max-width: 767px) {
  .contact form button i {
    left: 160px;
  }
  .contact form button:hover i.two {
    left: 169px;
  }
  .contact form button:hover i.three {
    left: 178px;
  }
}
.contact .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .info {
    margin: auto;
    text-align: center;
  }
}
.contact .info .phone {
  margin-bottom: 45px;
}
.contact .info .phone h4,
.contact .info .address h4 {
  text-transform: uppercase;
  color: var(--main-color);
  margin: 30px 0 16px;
}
.contact .info .phone span,
.contact .info .address address {
  color: var(--secondary-color);
  line-height: 1.5;
  display: block;
}
/* End Contact */
/* Start Footer */
footer {
  border-top: 1px solid rgba(255, 255, 255, 0.505);
}
footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-items: center;
  gap: 50px;
}
@media (max-width: 1199px) {
  footer .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  footer .links {
    order: 3;
  }
  footer .links a,
  footer .info,
  footer .image {
    margin: auto;
  }
}
@media (max-width: 767px) {
  footer .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
footer .image {
  width: 230px;
  transition: 1s;
}
footer .image:hover {
  transform: rotate(360deg);
}
footer .image img {
  max-width: 100%;
}
footer .links li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.37);
}
footer .links a {
  width: fit-content;
  display: block;
  color: var(--secondary-color);
  padding: 16px;
  font-size: 18px;
  text-transform: uppercase;
  transition: var(--main-transition);
}
footer .links a:hover {
  padding-left: 22px;
  color: var(--main-color);
}
footer .info > div {
  color: var(--secondary-color);
  margin: 30px 0;
}
footer .info > div > i {
  color: var(--main-color);
  margin-right: 15px;
}
footer .info .phone,
footer .info .time {
  display: flex;
  align-items: center;
}
footer .info .phone .number span,
footer .info .time .tim span {
  display: block;
  line-height: 1.4;
}
footer .copyright {
  color: var(--secondary-color);
  margin: auto;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.505);
  display: flex;
  justify-content: center;
  word-spacing: 3px;
}
footer .copyright span {
  color: var(--main-color);
  margin-left: 5px;
}
/* End Footer */
/* Start Animation */
@keyframes go {
  to {
    opacity: 0.1;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* End Animation */
