@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* Start Variables */
:root {
  --section-padding: 100px;
  --main-color: #024caa;
}
body {
  font-family: "Bebas Neue", serif;
  background-color: #000000;
  color: var(--main-color);
}
/* End Variables */
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.main-headingm {
  text-align: center;
  padding-bottom: 150px;
}
.main-heading {
  text-align: center;
  font-family: "Bebas Neue", serif;
}
.main-headingm h2 {
  font-weight: normal;
  font-size: 40px;
  font-family: "Bebas Neue", serif;
  position: relative;
  margin-bottom: 70px;
}
.main-headingm h2::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;

  bottom: -30px;
  width: 120px;
}
.main-headingm h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-headingm p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  padding-top: 10px;
  color: #777;
}

.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  font-family: "Bebas Neue", serif;
  position: relative;
  color: var(--main-color);
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  font-family: "Bebas Neue", serif;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 30px;
  max-width: 100%;
  line-height: 2;
  font-family: "Bebas Neue", serif;
  padding-top: 10px;
  color: #777;
}
/* End Components 
/* Start Header */

.header {
  position: relative;
  box-shadow: 0 0 10px #024caa;
  z-index: 2;

}
.header .container {
  display: flex;

  background-color: black;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  width: 50px;
  height: 50px;
  display: flex;
  transition: 1s;
}
.header .logo:hover {
  transform: rotate(360deg);
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  height: 72px;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", serif;
  padding: 0 30px;
  text-decoration: none;
  overflow: hidden;
  font-size: 22px;
  transition: var(--main-transition);
}
@media (max-width: 707px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: black;
  border-radius: 80px;
  border: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
  width: 200px;
  height: 200px;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
}

.header .mega-menu .links li a {
  text-decoration: none;
  padding: 15px;
  color: var(--main-color);
  font-family: "Bebas Neue", serif;
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.header .mega-menu .links li a:hover {
  color: #e9e6e6;
  padding-left: 40px;
}

.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
/* Start Landing */

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landing {
  min-height: 100vh;

  background-size: cover;
  position: relative;
  z-index: 1;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;

  color: white;
  display: flex;
  justify-content: space-evenly;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content .kkl {
  padding-bottom: 30px;
}
.landing .text .content h2 {
  font-size: 52px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #f7eeee;
}
.landing .text .content .hmn {
  font-size: 82px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ffffff;

  border-bottom: 5px var(--main-color) solid;
}

.landing .text .content .kio {
  margin-top: 100px;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}

/* End Landing */

/* Start secioen-1 */
.secioen-1 {
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10rem;
}
@media (min-width: 768px) {
  .secioen-1 .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}

.secioen-1 .srv-box i {
  margin-right: 50px;
}
@media (max-width: 500px) {
  .secioen-1 .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .secioen-1 .srv-box .img {
    padding-left: 30px;
  }
}
.secioen-1 .srv-box h3 {
  margin-bottom: 30px;
}

/* End secioen-1 */

/* Start secicen-2 */
.secicen-2 {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.secicen-2 .secicen-2-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .secicen-2 .secicen-2-content {
    flex-direction: column;
    text-align: center;
  }
}
.secicen-2 .secicen-2-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .secicen-2 .secicen-2-content .image {
    margin: 0 auto 60px;
  }
}
.secicen-2 .secicen-2-content .image::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.secicen-2 .secicen-2-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid white;
  border-bottom: 80px solid white;
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .secicen-2 .secicen-2-content .image::before,
  .secicen-2 .secicen-2-content .image::after {
    display: none;
  }
}
.secicen-2 .secicen-2-content .image img {
  max-width: 100%;
}
.secicen-2 .secicen-2-content .text {
  flex-basis: calc(100% - 500px);
}
.secicen-2 .secicen-2-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 0px;
  font-size: 50px;
}
.secicen-2 .secicen-2-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: #ffffff;
}
.secicen-2 .secicen-2-content .text p:last-of-type {
  line-height: 2;
  font-size: 20px;
  color: #ffffff;
}
/* End secicen-2 */

.main-headingh {
  text-align: center;
  font-size: 25px;
  color: #fff;
  line-height: 1.9;
  padding-bottom: 20px;
}

/* Start secicen-3 */
.secicen-3 {
  position: relative;

  padding-bottom: 100px;
}
.secicen-3 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.secicen-3 .box {
  position: relative;

  background: white;
  text-align: center;
  z-index: 1;
  border-radius: 100px;
}

.secicen-3 .box .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;

  letter-spacing: -1px;
  color: #000;
}
.secicen-3 .box img {
  width: 300px;
  margin-bottom: 30px;
}
.secicen-3 .box .price {
  margin-bottom: 20px;
}

.secicen-3 .box .time {
  color: #000;
}

/* End secicen-3 */

/* Start secicen-4 */
.secicen-4 {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.secicen-4 .secicen-4-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .secicen-4 .secicen-4-content {
    flex-direction: column;
    text-align: center;
  }
}
.secicen-4 .secicen-4-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .secicen-4 .secicen-4-content .image {
    margin: 0 auto 60px;
  }
}
.secicen-4 .secicen-4-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.secicen-4 .secicen-4-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .secicen-4 .secicen-4-content .image::before,
  .secicen-4 .secicen-4-content .image::after {
    display: none;
  }
}
.secicen-4 .secicen-4-content .image img {
  max-width: 100%;
}
.secicen-4 .secicen-4-content .text {
  flex-basis: calc(100% - 500px);
}
.secicen-4 .secicen-4-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 0px;
  font-size: 50px;
}
.secicen-4 .secicen-4-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: #ffffff;
}
.secicen-4 .secicen-4-content .text p:last-of-type {
  line-height: 2;
  font-size: 20px;
  color: #ffffff;
}
/* End secicen-4 */

/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.our-skills .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .testimonials .content:hover {
  padding-left: 20px;
}
.our-skills .testimonials .content img {
  width: 100px;

  margin-right: 50px;
}
@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.our-skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.our-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
}
.our-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* End Skills */

/* Start Video */
.videoo {
  position: relative;
}
.videoo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(0 0 0 / 40%);
}
.videoo video {
  width: 100%;
  height: 750px;
}
.videoo .text {
  width: 85%;
  position: absolute;
  top: 50%;
  background-size: cover;
  transform: translateY(-50%);
  padding: 50px;

  color: white;
  text-align: center;
}
.videoo .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.videoo .text p {
  margin-bottom: 30px;
}
.videoo .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* End Video */
/* Start Discount */
.discount {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  font-family: "Bebas Neue", serif;
  background-color: var(--main-color);
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 260px;
  margin-bottom: 25px;
  padding: 15px;
  letter-spacing: 3px;
  border: none;
  font-family: "Bebas Neue", serif;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  letter-spacing: 5px;
  font-family: "Bebas Neue", serif;
  background-color: #000000;
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding-top: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: white;
  color: #000;
}
.discount .content {
  text-align: center;
  padding: 20px 20px;
}
.discount .content h2 {
  font-size: 26px;
  color: rgb(0, 0, 0);

  padding-bottom: 20px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 380px;
  max-width: 100%;
}
/* End Discount */

/* Start Footer */
.footer_big {
  padding-left: 40px;
  padding-right: 40px;
}
.footer {
  background-color: #000000;
  padding: 40px 0 0;
  border-top: 0.5px solid #444;
}
@media (max-width: 700px) {
  .footer {
    text-align: center;
  }
}
.footer .containera {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  align-items: center;
}
.footer .boxa h3 {
  color: #024caa;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .boxa .social {
  display: flex;
  margin: 20px;
}
@media (max-width: 767px) {
  .footer .boxa .social {
    justify-content: center;
  }
}
.footer .boxa .social li {
  margin-right: 10px;
}
.logo_footer {
  width: 250px;
  height: 250px;
  transition: 1s;
}
.logo_footer:hover {
  transform: rotate(360deg);
}
.footer .boxa .social li a {
  background-color: #ffffff;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  text-decoration: none;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}

.footer .boxa .texta {
  line-height: 2;
  width: 218px;
  color: #ffffff;
  margin: 0px;
  font-size: 30px;
}
.footer .boxa .link {
  padding-left: 50px;
  padding-right: 50px;
  list-style: none;
}
.footer .boxa .link li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .boxa .link li:hover {
  padding-left: 10px;
}
.footer .boxa .link li:hover a {
  color: #024caa;
}
.footer .boxa .link li a {
  color: #b9b9b9;
  text-decoration: none;
  transition: var(--main-transition);
}

.footer .boxa .linea {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .boxa .linea {
    flex-direction: column;
  }
}
.footer .boxa .linea i {
  font-size: 25px;
  color: #024caa;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .boxa .linea i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .boxa .linea .info {
  line-height: 1.7;
  flex: 1;
}
.footer .boxa .linea .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */

.bottonmmm {
  padding-left: 80px;
  padding-bottom: 20px;
}
.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-size: 25px;
  color: BLACK;
  background: var(--main-color);
border-radius: 30px;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #ffffff;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
  font-family: "Bebas Neue", serif;
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: var(--main-color);
  }

  50% {
    fill: #ffffff;
  }

  100% {
    fill: var(--main-color);
  }
}

/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
/* End Contact */

/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url("../images/pexels-photo-12086412.webp");
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 16%;
  }
}
.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;

  margin: 0 0 20px;
}
.stats .container .box p {
  font-size: 30px;
  color: black;
}
/* End Stats */
.img_boxx {
  width: 50px;
  height: 50px;

  border-radius: 40px;
  padding-bottom: 25px;
}

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
}
.services .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin: 0 0 30px;
  }
}
.services .srv-box h3 {
  margin-bottom: 30px;
  font-size: 29px;
  color: var(--main-color);
}
.services .srv-box p {
  line-height: 2;
  color: #777;
  letter-spacing: 2px;
  word-spacing: 2px;
}
/* End Services */
.img_pou {
  width: 50px;
  height: 50px;
  padding-right: 30px;
}
/* From Uiverse.io by gharsh11032000 */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: var(--main-color);
  box-shadow: 0 0 0 2px var(--main-color);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: var(--main-color);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #ffffff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px var(--main-color);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}

.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  overflow: hidden;
  padding: 20px;
  position: relative;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 22%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 50px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
}
.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
}
/* End Portfolio */